<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50px;">
    <div>
        <h2>Completed exercises for last 7 days</h2>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Exercise Focus</th>
                    <th>Recorded Body Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stat of stats">
                    <td>{{ toPrettyDate(stat.createdAt!) }}</td>
                    <td>{{ stat.workout }} Workout</td>
                    <td>{{ stat.weight }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>