.navbar-custom {
    background-color: orange;
    color: white;
}

.navbar-item {
    padding-left: 25px;
    padding: 15px;
    border-right: thin solid white;
    cursor: pointer;
}

.navbar-item:hover {
    background-color: white;
    color: black;
}

.navbar-debug {
    color: red;
    padding-left: 25px;
    padding: 15px;
    border-right: thin solid white;
    cursor: pointer;
}