<div class="navbar-custom">
   <div fxLayout="row" fxLayoutAlign="start">
        <div class="navbar-item" routerLink="/home"
        *ngIf="this.loginManager.isLoggedIn()">
            Home
        </div>
        <div class="navbar-item" routerLink="/stats"
        *ngIf="this.loginManager.isLoggedIn()">
            MyStats
        </div>
        <div class="navbar-item" (click)="logout()"
        *ngIf="this.loginManager.isLoggedIn()">
            Logout
        </div>
        <div class="navbar-debug" (click)="openDebugDialog()"
        >
            DEV MENU
        </div>
        <div style="margin-left: auto; padding: 15px;">
            <i>TrackMe @Dixon</i>
        </div>
   </div>
</div>