<div class="navbar">
   <div fxLayout="row" fxLayoutAlign="start" *ngIf="this.loginManager.isLoggedIn()">
       <div class="navbar-item" routerLink="/home">
           Home
       </div>
       <div class="navbar-item" routerLink="/stats">
           MyStats
       </div>
       <div class="navbar-item" routerLink="/login">
           Logout
       </div>
       <div class="navbar-debug" (click)="deleteMyStats()">DEBUG: DELETE ALL MY STATS</div>
       <div style="margin-left: auto; padding: 15px;">
           <i>TrackMe @Dixon</i>
       </div>
   </div>
</div>