<div class="login-page">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div class="welcome-message">
            Welcome to TrackMe @Dixon<br><br>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="login-form">
            <div>
                <img src="/assets/osu_logo.jpeg" style="margin: auto; display: block; width: 70%; margin-bottom: 15px;">
            </div>
            <div class="error">
                {{ this.loginManager.statusText }}
            </div>
            <div>
                <form>
                    <div class="form-group">
                        <label for="username">Username: </label>
                        <input [(ngModel)]="username" class="form-control" type="text" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input [(ngModel)]="password" class="form-control"type="password" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="pin">or PIN: </label>
                        <input [(ngModel)]="pin" class="form-control" type="number" id="pin" name="pin">
                    </div>
                    <div class="row" style="padding-top: 15px;">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" (click)="login()">Login</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-secondary form-control" routerLink="/register">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>