<div class="login-form">
    <div fxLayout="column" fxLayoutAlign="start center">
        <div>
            Welcome to TrackMe @Dixon<br><br>
        </div>
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username"><br><br>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password"><br><br>
        </div>
        <div>
            <button routerLink="/home" (click)="this.loginManager.setLoggedIn(true)">Login</button>
            <button routerLink="/register">Register</button>
        </div>
    </div>
</div>