.content {
    border: thin solid black; 
    border-radius: 5px;
    margin-top: 25px;
    width: 600px;
}

.header {
    margin-top: 25px; 
    margin-bottom: 25px; 
    border-bottom: thin solid black; 
    width: 100%; 
    text-align: center;
}