<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!hasActiveWorkout" class="content">
    <div fxLayout="column">
        <h1>Choose Focus</h1>
        <div *ngFor="let w of workoutNames">
            <div class="intensity-button" (click)="workout = workoutNames.indexOf(w)" [class.selected]="workout === workoutNames.indexOf(w)">{{w}}</div>
        </div>
        
        <!-- <div class="intensity-button" (click)="workout = 'lower'" [class.selected]="workout === 'lower'">Lower Body</div>
        <div class="intensity-button" (click)="workout = 'core'" [class.selected]="workout === 'core'">Core</div> -->
    </div>
    <div fxLayout="column" style="margin-top: 30px;">
        <h1>Choose Intensity</h1>
        <div *ngFor="let i of intensityNames">
            <div class="intensity-button" (click)="intensity = intensityNames.indexOf(i)" [class.selected]="intensity === intensityNames.indexOf(i)">{{i}}</div>
        </div> 
    </div>
    <div fxLayout="column" style="margin-top: 30px;">
        <h1>Choose Duration</h1>
        <div *ngFor="let d of durationNames">
            <div class="intensity-button" (click)="duration = durationNames.indexOf(d)" [class.selected]="duration === durationNames.indexOf(d)">{{d}}</div>
        </div> 
    </div>
    <div style="margin-top: 30px; margin-bottom: 100px;">
        <button class="btn btn-success btn-lg" style="width: 300px;" (click)="generateWorkout()">Begin Workout</button>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" *ngIf="hasActiveWorkout">
    <div fxLayout="row" fxLayoutAlign="space-evenly start" class="content">
        <div fxLayout="column">
            <div style="margin-top: 25px;">You selected a {{intensityNames[intensity].toLowerCase()}} intensity {{workoutNames[workout].toLowerCase()}} workout, for a duration of {{durationNames[duration]}}.</div>
            <div style="margin-top: 25px;">Let's make some gains.</div>
            <app-timer [exercises]="exercises" [totalWorkoutTime]="totalWorkoutTime"></app-timer>
            <table style="margin-top: 25px;">
                <thead>
                    <tr>
                        <th>Workout #</th>
                        <th>Name</th>
                        <th>Sets</th>
                        <th>Reps</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let exercise of exercises">
                        <td>{{exercises.indexOf(exercise) + 1}}</td>
                        <td>{{exercise.name}}</td>
                        <td>{{exercise.sets + intensity}} sets</td>
                        <td>{{exercise.reps + duration}} reps</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="margin-top: 25px;">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div><label for="weight">What is your measured weight post workout?</label></div><br>
            <div><input [(ngModel)]="weight" class="form-control" type="text" id="weight" name="weight" placeholder="{{loginManager.user?.weight}}"></div>
            <div><button class="btn btn-success btn-lg" style="width: 200px; margin-top: 30px;" (click)="completeWorkout()">I'm Done!</button> </div>
        </div>
    </div>
</div>