.content {
    margin-top: 50px;
    width: 100%;
}

.intensity-button {
    padding: 15px;
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
    border: thin dashed gray;
    cursor: pointer;
    width: 300px;
}

.selected {
    background-color: #ffc760;
    border: thin dashed orange;
}

.begin-workout {
    margin-top: 25px;
    padding: 15px;
    background-color: lightgreen;
    border-radius: 5px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: orange;
    color: white;
    text-align: left;
}

table tr:hover {
    background-color: #ddd;
}

.window {
    border: thin solid gray;
    padding: 25px;
    border-radius: 10px;
}