<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!hasActiveWorkout">
    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <div fxLayout="column">
            <h1>Type</h1>
            <div class="intensity-button" (click)="workout = 'upper'" [class.selected]="workout === 'upper'">Upper Body</div>
            <div class="intensity-button" (click)="workout = 'lower'" [class.selected]="workout === 'lower'">Lower Body</div>
            <div class="intensity-button" (click)="workout = 'core'" [class.selected]="workout === 'core'">Core</div>
        </div>
        <div fxLayout="column" style="margin-left: 30px;">
            <h1>Intensity</h1>
            <div class="intensity-button" (click)="intensity = 2" [class.selected]="intensity == 2">High</div>
            <div class="intensity-button" (click)="intensity = 1" [class.selected]="intensity == 1">Medium</div>
            <div class="intensity-button" (click)="intensity = 0" [class.selected]="intensity == 0">Low</div>
        </div>
        <div fxLayout="column" style="margin-left: 30px;">
            <h1>Duration</h1>
            <div class="intensity-button" (click)="duration = 2" [class.selected]="duration == 2">Long (60 mins)</div>
            <div class="intensity-button" (click)="duration = 1" [class.selected]="duration == 1">Medium (30 mins)</div>
            <div class="intensity-button" (click)="duration = 0" [class.selected]="duration == 0">Short (15 mins)</div>
        </div>
    </div>
    <div>
        <div class="begin-workout" (click)="generateWorkout()">Begin Workout</div>
    </div>
</div>
<div *ngIf="hasActiveWorkout">
    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <div fxLayout="column">
            <div style="margin-top: 25px;">You selected a {{intensityNames[intensity]}} intensity workout, for a duration of {{durationNames[duration]}}.</div>
            <div style="margin-top: 25px;">Let's make some gains.</div>
            <table style="margin-top: 25px;">
                <thead>
                    <tr>
                        <th>Workout #</th>
                        <th>Name</th>
                        <th>Sets</th>
                        <th>Reps</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let exercise of exercises">
                        <td>{{exercises.indexOf(exercise) + 1}}</td>
                        <td>{{exercise.name}}</td>
                        <td>{{exercise.sets + intensity}} sets</td>
                        <td>{{exercise.reps + duration}} reps</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>