<div class="login-form">
    <div fxLayout="column" fxLayoutAlign="start center">
        <div>
            Please enter your desired username and password<br><br>
        </div>
        <div>
            <label for="username">Username: </label>
            <input [(ngModel)]="username" type="text" id="username" name="username"><br><br>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password"><br><br>
        </div>
        <div>
            <div fxLayout="row">
                <div class="button" routerLink="/home" (click)="this.loginManager.setLoggedIn(true, username)">Create Account</div>
                <div class="button" routerLink="/login">Go Back</div>
            </div>
        </div>
    </div>
</div>